{% extends 'shop/basic.html' %}
{% block title%} {{product.0.category}} - CraftHive{% endblock %}
{% block body %}

{% for i in product %}
        
        <div class="col-xs-3 col-sm-3 col-md-3">
          <div class="card align-items-center" style="width: 18rem;">
            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" id="namepr{{i.id}}">{{i.product_name}}</h5>
              <p class="card-text">{{i.desc|slice:"0:100"}}...</p>
              <h6 class="card-title" >Price : <span id="pricepr{{i.id}}">{{i.price}}</span></h6>

              {%if not request.user.is_seller and i.stock != 0 %}
                <span id="divpr{{i.id}}" class="divpr">
                <button id="pr{{i.id}}" class="btn btn-primary cart">Add To Cart</button></span>
              {%endif%}

              <a href="/products/{{i.id}}"
                <button id="qv{{i.id}}" class="btn btn-primary">Quick View</button>
              </a>
            </div>
          </div>
        </div>

{%endfor%}
{%endblock%}